body {
  font-size: 0.875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.number-selector {
    text-align: center;
    border-radius: 0px 10px 10px 0px;
}


.on-canvas {
    position: absolute;
    right: 32px;
    top: 120px;
}
