{% extends "layout.html" %}

{% block headers %}
<script src="/static/home.js"></script>
<script>
</script>

{% endblock %}

{% block content %}

<div class="row">
  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
	{% for sensor in sensors %}
        <li class="nav-item">
          <a class="nav-link active" href="/plant/{{sensor.id}}">
            <span data-feather="activity"></span> {{sensor.name}}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 height-full">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2>Overview</h2>
    </div>
    <canvas id="canvas"></canvas>
  </main>
</div>
{% endblock %}
