{% extends "layout.html" %}

{% block headers %}
{% endblock %}

{% block content %}

<div class="row">
  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
	{% for sensor in sensors %}
        <li class="nav-item">
          <a class="nav-link active" href="/plant/{{sensor.id}}">
            <span data-feather="activity"></span> {{sensor.name}}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
  <h1> WIP </h1>
</div>
{% endblock %}
