{% extends "layout.html" %}

{% block headers %}
<script src="/static/home.js"></script>
<script>
</script>

{% endblock %}

{% block content %}

<div class="row">
  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
	{% for plant in plants %}
        <li class="nav-item">
          <a class="nav-link active" href="/plant/{{plant.id}}">
            <span data-feather="activity"></span> {{plant.name}}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
  <main role="main" class="col-md-9">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2>Overview</h2>
    </div>
    <div class="row">
    {% for plant in plants %}
    <div class="col-md-6">
      <canvas id="canvas-{{plant.id}}"></canvas>
    </div>
    {% endfor %}
    </div>
  </main>
</div>
{% endblock %}
